@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
 
  

h1, h2{
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}


a {
  text-decoration: none;
  
}

span {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}
